extends layout

block content
  h1= title
  p Welcome to #{title}
  p Basic Tesseract.js text recognition from selected file
      input#file-selector(type='file')
      ul#output
      #ocr_status
      #ocr_results
      canvas#the-canvas
      canvas#the-canvas2
      script(src='https://cdn.rawgit.com/naptha/tesseract.js/1.0.10/dist/tesseract.js')
      script(src='https://cdn.jsdelivr.net/npm/pdfjs-dist@2.9.359/build/pdf.js')
      script(src="/javascripts/script.js")